<iis-enum-dropdown [label]="strings.MsftIISWAC.website.binding.protocol" [type]="protocolsType"
    [friendly]="protocolNames" [(selected)]="protocolType">
</iis-enum-dropdown>
<ng-container *ngIf="isCustomSelected">
    <sme-form-field name="protocolTextbox" type="text" [required]="isCustomSelected"
        [label]="strings.MsftIISWAC.website.binding.custom" [(ngModel)]="binding.protocol">
    </sme-form-field>
    <sme-form-field name="bindingInfoTextbox" type="text" [required]="isCustomSelected"
        [label]="strings.MsftIISWAC.website.binding.info" [(ngModel)]="binding.bindingInformation">
    </sme-form-field>
</ng-container>
<ng-container *ngIf="!isCustomSelected">
    <sme-form-field name="hostnameTextbox" type="text" [label]="strings.MsftIISWAC.website.binding.hostname"
        [(ngModel)]="binding.host">
    </sme-form-field>
    <sme-form-field name="ipTextbox" type="text" [label]="strings.MsftIISWAC.website.binding.ipAddress"
        [(ngModel)]="binding.endPoint.address">
    </sme-form-field>
    <sme-form-field name="portTextbox" type="text" [required]="!isCustomSelected"
        [label]="strings.MsftIISWAC.website.binding.port" [(ngModel)]="binding.endPoint.port">
    </sme-form-field>
    <iis-loader *ngIf="showCertInfo" #certLoader [message]="strings.MsftIISWAC.cert.loadingInfo" [content]="certContent"
        loadingWheelSize='small'>
        <ng-container *ngIf="certLoader.show">
            <div class="sme-arrange-stack-h sme-arrange-stack-inline">
                <sme-form-field name="certTextbox" type="text" [required]="showCertInfo"
                    [label]="strings.MsftIISWAC.cert.name" [ngModel]="certDisplayName">
                </sme-form-field>
                <button class="sme-button-primary" (click)="certSelectDialog.showAsync()">
                    {{strings.MsftIISWAC.common.selectBtn}}</button>
            </div>
            <sme-form-field name="sniSwitch" type="toggle-switch"
                [label]="strings.MsftIISWAC.website.binding.requireSNI" [(ngModel)]="requireSNI"></sme-form-field>
        </ng-container>
    </iis-loader>
</ng-container>
<iis-selector-dialog #certSelectDialog id="binding-select-cert-dialog" [selector]="certSelect"
    [title]="strings.MsftIISWAC.website.binding.selectCertHeader" (proceed)="selectCert()">
    <iis-certs #certSelect *ngIf="certSelectDialog.visible" [select]="getCertSelection"></iis-certs>
</iis-selector-dialog>
