<iis-list-loader #loader [observes]="contents" [table]="dataTable" [select]="select">
    <div list-content-body class="sme-position-stretch-v">
        <sme-data-table #dataTable class="sme-position-stretch-v" [items]="loader.items"
            [defaultSortColumn]="nameColumn" [defaultSortMode]="1" [rememberSelection]="true">
            <!-- [getItemIdentityFunction]="getItemIdentityFunction"> -->
            <sme-data-table-column #nameColumn header="{{strings.MsftIISWAC.cert.name}}" sortable="true">
                <ng-template let-data>
                    <iis-cert [value]="data"></iis-cert>
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.cert.location}}" field="location" sortable="true">
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.cert.subject}}" field="subject" sortable="true">
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.cert.issuer}}" field="issuer" sortable="true">
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.cert.notAfter}}" sortable="true">
                <ng-template let-data>
                    {{data.notAfter.toLocaleDateString()}}
                </ng-template>
            </sme-data-table-column>
        </sme-data-table>
    </div>
</iis-list-loader>
