<sme-dialog #dialog id="iis-error-dialog-content" dialogMode="wide-pane" class="error-details">
    <sme-dialog-header *ngIf="options">
        <h3 id="sme-dialog-title">{{options.headline}}</h3>
    </sme-dialog-header>
    <sme-dialog-content *ngIf="options">
        <p *ngFor="let line of knownProperties">{{line}}</p>
        <ng-container *ngIf="options.showDetails">
            <p>{{lineInfo}}</p>
            <p *ngIf="stack">{{stack}}</p>
            <p></p>
            <p></p>
            <p>Capture:</p>
            <p>{{errorObjectDump}}</p>
        </ng-container>
    </sme-dialog-content>
    <sme-dialog-footer class="sme-layout-float-right" *ngIf="options">
        <button type="button" (click)="toggleDetails()">{{toggleButtonText}}</button>
        <button type="button" class="sme-button-primary" (click)="onOK()">{{strings.MsftIISWAC.common.ok}}</button>
    </sme-dialog-footer>
</sme-dialog>
