<sme-dialog #dialog dialogMode="fullscreen">
    <sme-dialog-header>
        <h3 id="sme-dialog-title">{{title}}</h3>
    </sme-dialog-header>
    <sme-dialog-content>
        <ng-content></ng-content>
    </sme-dialog-content>
    <sme-dialog-footer class="sme-layout-float-right">
        <button type="button" class="sme-button-primary"
            (click)="onSubmit()">{{strings.MsftIISWAC.common.submit}}</button>
        <button type="button" (click)="onCancel()">{{strings.MsftIISWAC.common.cancel}}</button>
    </sme-dialog-footer>
</sme-dialog>
