<iis-list-loader #loader [observes]="contents" [table]="dataTable">
    <div list-content-header>
        <iis-actions>
            <control-table #actionBarController [table]="dataTable" [addTableItem]="showDialog"
                [editTableItem]="editWebsite" [deleteTableItems]="removeWebsites"></control-table>
            <control-status #actionBarController [target]="dataTable.selection" [srv]="srv"></control-status>
        </iis-actions>
    </div>
    <div list-content-body class="sme-position-stretch-v">
        <sme-data-table #dataTable class="sme-position-stretch-v" [items]="loader.items"
            [defaultSortColumn]="nameColumn" [defaultSortMode]="1" [rememberSelection]="true">
            <!-- [getItemIdentityFunction]="getItemIdentityFunction"> -->
            <sme-data-table-column #nameColumn header="{{strings.MsftIISWAC.common.name}}" sortable="true">
                <ng-template let-data>
                    <span>{{data.name}}</span>
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.common.status}}" sortable="true">
                <ng-template let-data>
                    <iis-status [status]="data.status"></iis-status>
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.common.applicationPool}}" sortable="true">
                <ng-template let-data>
                    <span>{{data.applicationPoolName}}</span>
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column field="bindings" header="{{strings.MsftIISWAC.common.url}}" sortable="false">
            </sme-data-table-column>
        </sme-data-table>
        <iis-dialog #createDialog id="website-create-dialog" [title]="strings.MsftIISWAC.website.createDialogHeader"
            (output)="saveWebsite()">
            <iis-website-edit #newSite *ngIf="createDialog.visible" editMode="new" (exited)="createDialog.exit($event)">
            </iis-website-edit>
        </iis-dialog>
    </div>
</iis-list-loader>
