<list-loader #loader [observes]="contents" [table]="dataTable" [select]="select">
    <div list-content-header>
        <iis-actions>
            <control-table #actionBarController [table]="dataTable" [addTableItem]="showDialog"
                [editTableItem]="editSelection" [deleteTableItems]="removeAppPools"></control-table>
            <control-status #actionBarController [target]="dataTable.selection" [srv]="srv"
                [restartText]="strings.MsftIISWAC.appPool.recycle"></control-status>
        </iis-actions>
    </div>
    <div list-content-body class="sme-position-stretch-v">
        <sme-data-table #dataTable class="sme-position-stretch-v" [items]="loader.items"
            [defaultSortColumn]="nameColumn" [defaultSortMode]="1" [rememberSelection]="true">
            <!-- [getItemIdentityFunction]="getItemIdentityFunction"> -->
            <sme-data-table-column #nameColumn header="{{strings.MsftIISWAC.common.name}}" sortable="true">
                <ng-template let-data>
                    <span>{{data.name}}</span>
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.common.status}}" sortable="true">
                <ng-template let-data>
                    <iis-status [status]="data.status"></iis-status>
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.appPool.pipeline.column}}" sortable="true">
                <ng-template let-data>{{data.pipelineModeFriendly()}}</ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.appPool.netFrameworkVersion}}" sortable="true">
                <ng-template let-data>
                    {{data.runtimeVersionFriendly()}}
                </ng-template>
            </sme-data-table-column>
            <sme-data-table-column header="{{strings.MsftIISWAC.appPool.identity.column}}" sortable="true">
                <ng-template let-data>
                    <identity [model]="data.processModel"></identity>
                </ng-template>
            </sme-data-table-column>
        </sme-data-table>
        <iis-dialog #createDialog id="app-pool-create-dialog" [title]="strings.MsftIISWAC.appPool.createDialogHeader"
            (proceed)="createAppPool()">
            <iis-app-pool-edit #newAppPool *ngIf="createDialog.visible" editMode="new"></iis-app-pool-edit>
        </iis-dialog>
    </div>
</list-loader>
