<sme-dialog #dialog id="iis-error-dialog" dialogMode="wide-pane" class="error-details">
    <sme-dialog-content>
      <p *ngFor="let line of knownProperties">{{line}}</p>
      <p>{{lineInfo}}</p>
      <p *ngIf="error.stack">{{error.stack}}</p>
      <p></p>
      <p></p>
      <p>Capture:</p>
      <p>{{errorObjectDump}}</p>
    </sme-dialog-content>
    <sme-dialog-footer class="sme-layout-float-right">
        <button type="button" class="sme-button-primary" (click)="onOK()">{{strings.MsftIISWAC.common.ok}}</button>
    </sme-dialog-footer>
</sme-dialog>
