<form #formCtrl="ngForm" class="sme-position-inset-none">
    <sme-form-field name="poolNameTextbox" type="text" required="true" [label]="strings.MsftIISWAC.appPool.name"
        [(ngModel)]="pool.name">
    </sme-form-field>
    <sme-form-field name="autoStartSwitch" type="toggle-switch" [label]="strings.MsftIISWAC.appPool.autoStart"
        [(ngModel)]="pool.autoStart"></sme-form-field>
    <iis-enum-dropdown [label]="strings.MsftIISWAC.appPool.identity.type" [values]="friendlyIdentityTypeOrder"
        [friendly]="identityTypeNames" [(selected)]="pool.processModel.identityType">
    </iis-enum-dropdown>
</form>
